/*--xl--*/
@media screen and (max-width: 1400px) {
  main {
    .pizza_list {
      .pizza_block {
        .card-body {
          span {
            font-size: 16px;
          }
        }
      }
    }
    // .cart{
    //   .cart-btn {
    //     button {
    //       padding: 10px 15px;
    //       border-radius: 30px;
    //       width: 21%;
    //       transition: ease all 0.5s;
    //     }
    //     &__back {
    //       background-color: $white;
    //       color: $light-gray;
    //       border: 1px solid $light-gray;
    //       font-weight: 700;
    //       &:hover {
    //         color: $white;
    //         border: 1px solid transparent;
    //         background-color: $black;
    //       }
    //     }
    //     &__pay {
    //       background-color: $orange;
    //       color: $white;
    //       border: 1px solid transparent;
    //       border: none;
    //       font-weight: 700;
    //       &:hover {
    //         background-color: darken($orange, 8%);
    //       }
    //     }
    //   }
    // }
  }
}
/*--lg--*/
@media screen and (max-width: 1200px) {
  body {
    .wrapper {
      padding: 0 10px !important;
    }
  }
}
/*--md--*/
@media screen and (max-width: 992px) {
  body {
    .not-found {
      .row {
        h1 {
          font-size: 36px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
/*--sm--*/
@media screen and (max-width: 768px) {
  body {
    padding: 45px 40px !important;
    header {
      .row {
        &:first-child {
          h1 {
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
  main {
    .menu {
      nav {
        .nav-link {
          margin-right: 15px;

          padding: 10px 25px;
        }
      }
    }
    .pizza_list {
      .pizza_block {
        .card-body {
          span,
          button {
            width: 100% !important;
            font-size: 18px;
          }
        }
        &__selector {
          li {
            font-size: 15px;
          }
        }
      }
    }
    .cart {
      .cart-header {
        div {
          &:first-of-type {
            h3 {
              font-size: 20px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    p {
      display: none;
    }
    .row {
      div {
        &:first-child {
          width: 50%;
          align-items: start !important;
          div {
            width: 100% !important;
          }
        }
        &:last-child {
          width: 50%;
        }
      }
    }
  }
  main {
    .menu {
      nav {
        .nav-link {
          margin-right: 10px;
          padding: 10px 20px;
        }
      }
    }

    .pizza_list {
      .row {
        &:nth-child(2) {
          justify-content: space-between;

          .pizza_block {
            width: 50%;
          }
        }
      }
    }
    .cart {
      .cart-header {
        margin-top: 10px;
        div {
          &:nth-of-type(1) {
            width: 40%;
            display: flex;
            align-items: center;
          }
          &:nth-of-type(2) {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: end;
          }
        }
      }
      .cart-item {
        display: flex;
        div {
          &:nth-of-type(1) {
            width: 50%;
            img {
              display: none;
            }
            div {
              width: 100%;
            }
          }
          &:nth-of-type(2) {
            display: none !important;
          }
          &:nth-of-type(3) {
            width: 15%;
          }
          &:nth-of-type(3) {
            width: 15%;
          }
        }
      }
      .cart-sum {
        span {
          font-size: 16px;
        }
      }
      .cart-btn {
        margin-top: 40px;
        div {
          &:nth-of-type(1) {
            width: 20%;
          }
          &:nth-of-type(2) {
            width: 80%;
          }
        }
        .cart-btn__back {
          svg {
            width: 20px;
            height: 20px;
          }
          span {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  body {
    padding: 30px 30px !important;
    header {
      .row {
        div {
          &:first-child {
            width: 61%;

            div {
              width: 100% !important;
              h1 {
                font-size: 18px;
              }
              p {
                font-size: 14px;
              }
            }
          }
          &:last-child {
            width: 36%;
          }
        }
        button {
          span {
            &:nth-of-type(1) {
              display: none;
            }
          }
          svg {
            &:nth-of-type(1) {
              display: none;
            }
          }
        }
      }
    }
    main {
      .pizza_list {
        .row {
          &:nth-child(2) {
            justify-content: center;
            .pizza_block {
              width: 70%;
            }
          }
        }
      }
      .cart {
        .cart-header {
          margin-top: 10px;
          div {
            &:nth-of-type(1) {
              h3 {
                display: none;
              }
            }
          }
        }
        .cart-item {
          display: flex;
          padding: 0;
          div {
            &:nth-of-type(1) {
              width: 65%;
              img {
                display: none;
              }
              div {
                width: 100%;
              }
            }
            &:nth-of-type(2) {
              display: none !important;
            }
            &:nth-of-type(3) {
              width: 15%;
            }
            &:nth-of-type(3) {
              width: 15%;
            }
          }
        }
        .cart-sum {
          display: flex;
          flex-direction: column;
          span {
            text-align: start !important;
            padding: 5px 0px;
          }
        }
        .cart-btn {
          margin-top: 40px;
          div {
            &:nth-of-type(1) {
              width: 20%;
            }
            &:nth-of-type(2) {
              width: 80%;
            }
          }
          .cart-btn__back {
            svg {
              width: 20px;
              height: 20px;
            }
            span {
              display: none;
            }
          }
        }
      }
      .not-found {
        .row {
          height: 50vh;
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 16px;
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  header {
    .row {
      div {
        &:nth-of-type(2) {
          width: 38% !important;
        }
      }
    }
  }
  main {
    .pizza_list {
      .row {
        &:nth-child(2) {
          justify-content: center;
          .pizza_block {
            width: 85% !important;
          }
        }
      }
    }
    .not-found {
      .row {
        h1 {
          font-size: 28px !important;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
