header {
  padding: 40px 0;
  border-bottom: 1px solid $gray-line;
  .container {
    h1 {
      font-size: 24px;
      font-weight: 800;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      font-size: 16px;
      margin: 0;
      color: $gray;
    }
    button {
      background-color: $orange;
      padding: 16px 23px;
      border: 1px solid transparent;
      border-radius: 30px;
      transition: ease all 0.5s;
      cursor: pointer;
      span {
        color: $white;
        font-weight: 800;
        font-size: 16px;
      }
      &:hover {
        background-color: darken($orange, 8%);
      }
    }
  }
}
