$black: #232323;
$white: #fff;
$light-gray: #b6b6b6;

$background_1: #ffdf8c;
$background_2: #f9f9f9;
$background_3: #fe5f1e0d;
$background_4: #f3f3f3;

$gray: #7b7b7b;
$gray-line: #f6f6f6;

$orange: #fe5f1e;
