@import "variables";
@import "libs/normalize";
@import "components/all";
@import "./responsive";

body {
  background-color: $background_1;
  padding: 45px 50px;

  .wrapper {
    background-color: $white;
    border-radius: 10px;
    padding: 0 20px;
  }
}
